h2{
    color:red;
}
.visitor {
    border: 1px solid rgba(200, 200, 200, 0.5);
    height: 350px;
    margin: 10px 0 10px 0;

}

.visitor .header {
    background-color: #00695C;
    border-bottom: 5px solid white;
    margin-bottom: 3%;
    height: 60px;
    padding-top: 10px;
}

.visitor .header hr {
    width: 0px;
    margin-top: -17%;
}

.visitor img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 80px;
    border-radius:50%;
    vertical-align: text-top;
    border: 1px solid rgba(200, 200, 200, 0.5);
    position: relative;
}
.visitor {
    background-color: white;
}
.card-block h4{
    text-align: center;
    margin:0;
    margin-top: 10px;
    font-size: 17px;
    color: black
}

.visitor .card-text {
    height: 165px;
    overflow: hidden;
    color: black;
    margin-top: 20px;
}

.muted {
    position: absolute;
    bottom: 20px;
}
