<div class="container-fluid">
    <div class="row" *ngIf="Profil">
        <div class="col-md-4 col-lg-3 profils"  *ngFor="let usr of Profil">
            <div class="visitor" >
                <div class="header">
                    <img *ngIf="usr.photo && usr.photo[0]" src="http://localhost:8000/{{usr.photo[0].small}}" />
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{usr.pseudo}} - 33 ans<br/>Genas 69740</h4>
                    <p  class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="muted">
                        <small class="text-muted"><a routerLink="/pages/profils/{{usr.id_profils}}" >Voir Profil</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
