<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3" *ngFor="let usr of Users">
            <div class="visitor" >
                <div class="header">
                    <img src="http://localhost:8000/{{Users[0].photo[0].small}}" />
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{usr.pseudo}} - 33 ans<br/>Genas 69740</h4>
                    <p *ngIf="usr.photo[0]" class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="muted">
                        <span class="badge badge-primary">
                            <md-icon>visibility </md-icon>
                            <span class="span-icon">300</span>
                        </span>
                        <span class="badge badge-success">
                            <md-icon>grade </md-icon>
                            <span class="span-icon">Favorie</span>

                        </span>
                        <span class="badge badge-info">
                            <md-icon>visibility </md-icon>
                            <span class="span-icon">300</span>
                        </span>
                        <small class="text-muted"><a routerLink="/profil/{{usr.id_profils}}">Voir Profil</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
