/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

html {
    height: 100%;
}

body {
    height: 100% !important;
}

.badge-icon {
    height: 24px;
    padding: 3px 10px 0 5px;
}

.badge-icon md-icon {
    font-size: 20px;
    margin:0px;
    padding: 0;
    position: relative;
    display: inline;
}

.span-icon {
    margin-top:-14px !important;
    vertical-align: middle !important;
    display:inline-block;
}
